{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- About Section -->
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-10">
            <div class="card mb-3" >
              <div class="row g-0">
              <div class="col-md-4">
             <img src="{{ product.image.url}}" class="img-fluid rounded-start" alt="...">
             </div>
            <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name}}e</h5>
             Rs.{{product.price}}
             <br> ID: {{ product.id}}
            <p class="card-text">{{product.description}}</p>
            <div class="row justify-content-center">
              <div class="col-md-2">Quantity</div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" aria-label="Default select example" id="qty-cart">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">4</option>
              <option value="3">5</option>
              <option value="3">6</option>
            </select>
              </div>
            </div>
          <br>
            <a href="{% url "home" %}" class="btn btn-secondary"> Back to home </a>
            <button type="button" value="{{product.id}}" class="btn btn-secondary" id="add-cart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

          </div>
        </div>
      </div>
    </section>

    <script>
      // Check if button pressed
      $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
            product_id: $('#add-cart').val(),
            product_qty:$('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
          },
          success: function(json){
            console.log(json);
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
          },
          error: function(xhr, errmsg, err){
            console.log("Error:", errmsg);
          }
        });
      });
    </script>

{% endblock %}

